#info-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.error{
    color: red;
    font-size: small;
    font-family: monospace;
}

.active{
    visibility: visible;
}

.inactive{
    visibility: hidden;
}

#list{
    list-style-type: none;
    padding-inline-start: 5px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 8px; 
    justify-content: center; 
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card h3{
    font-weight: bolder;
    text-align: center; 
}

.card section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}