#info-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.error{
    color: red;
    font-size: small;
    font-family: monospace;
}

.active{
    visibility: visible;
}

.inactive{
    visibility: hidden;
}